:root {
    --header-top: #264653;
    --header-side: #264653;
    --header-corner: #3d405b;
    --text: #3d405b;
    --counter-text: white;
}

/* =================== global style =================== */
td {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
}
td:empty::before {
    content: "\00a0";
    display: block;
    padding: 0.4em 0.8em !important; /* top/bottom left/right */
}
td p, td ul, td ol, textarea {
    padding: 0.4em 0.8em !important; /* top/bottom left/right */
    margin: 0 !important;
    overflow-wrap: anywhere;
}
td li {
    line-height: 1.5 !important;
    padding-bottom: 0.7em !important;
}
.block-language-table {
    display: block;
    overflow-x: auto;
}
/*  */

/*  */
.header-top{
    background-color: var(--header-top) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
}

.header-side {
    background-color: var(--header-side) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
    text-align: left;
}

.header-corner {
    background-color: var(--header-corner) !important;
    color: var(--counter-text) !important;
    caret-color: var(--counter-text);
    border: 1px solid white;
    font-weight: bold;
    text-align: left;
}
/*  */

/*  */
.spread {
    width: 99%;
    min-width: max-content;
    border-collapse: collapse;
}

.spread td, .spread .table-cell-editor{
    white-space: nowrap;
}
/*  */

/* alignment */
.center td:not(:has(ul)), .center td:not(:has(ul)) .table-cell-editor {
    text-align: center;
}

.middle td:not(:has(ul)), .middle td:not(:has(ul)) .table-cell-editor {
    vertical-align: middle;
}
/*  */

/* =================== editor style =================== */
td.editing > *:not(.table-cell-editor){
    display: none;
}
.table-cell-editor {
    display: block;
    box-sizing: border-box !important;
    overflow: hidden;

    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;

    font: inherit;
    color: inherit;
    line-height: inherit;

    resize: horizontal;

    width: var(--measure-width);
    height: var(--measure-height);
}


